<!DOCTYPE html> 
<% include partials/header.ejs %>
    <!--<% include partials/navbar.ejs %>-->







    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round" rel="stylesheet"
        />
        <link href="default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
        
        <script type="text/javascript" src="Scripts/bracketController.js"></script>
    </head>

    <body>
        
        
        <!--<div id="wrapper">



            <div id="page" class="container">

                <div class="column1">
                    <div class="title">
                        <h2> <p style="color:#E8AD00" class="fa fa-trophy"></p>   TOURNEY</h2>
                        <!-- maybe make this a size bigger -->
                        <span class="byline">A free to use tournament bracket operator</span>
                    </div>
                  
                  
                  
                  <!--make a loop to create the boxes so you can have different amount-->
                  
                  <!--JAVASCRIPT TEST FOR NOW-->
                     <input type="text" id="typey_box" />
                     <button onclick="do_things()">Click</button>
                     <div id="output">Results will appear here.</div>
                  
                    
                  <input type="number" id="numberOfMembers" />
                  <button onclick="generate_bracket()">Get Number</button>
                  <div id="numberOfMemberTest">The Number of members will appear here.</div>
                  
                   <!--button onclick="create_textbox()">Create</button-->
                  
                  

                </div>
                <!--End Columnn 1 -->

                <!-- column 3 -->
                <div class="column4">







                <!-- column 4 
                <div class="column4">
                    <div class="title">
                        <h2>"Column 4"</h2>
                    </div>

                    <p>about column 4 dododo</p>
                  
                </div>
              -->


                <!-- bottom area 
            </div>



            <div id="portfolio-wrapper">
                <div id="portfolio" class="container">

                    <p>See it in action: </p>


                    <div class="slider-holder">
                        <span id="slider-image-1"></span>
                        <span id="slider-image-2"></span>
                        <span id="slider-image-3"></span>
                        <div class="image-holder">
                            <img id="shrinkPicture" src="Assets/images/demoImage1.png" class="slider-image" />
                            <img id="shrinkPicture" src="Assets/images/demoImage2.png" class="slider-image" />
                            <img id="shrinkPicture" src="Assets/images/demoImage3.png" class="slider-image" />
                        </div>
                        <div class="button-holder">
                            <a href="#slider-image-1" class="slider-change"> </a>
                            <a href="#slider-image-2" class="slider-change"></a>
                            <a href="#slider-image-3" class="slider-change"></a>
                        </div>
                    </div>





                </div>




            </div>
        </div>


-->


    </body>


    <!--% include partials/footer.ejs %-->

    </html>