<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <h1>Your Tournaments</h1>
    <br>
   <h2>Coming Soon...</h2>
</main>
<% include ../partials/footer.ejs %>